@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
body{
    background: #303030;
}

#homeworkInputArea{
    display: flex;
    gap: 17px;
}

#homeworkTitle{
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}

#homeworkInput{
    display: flex;
    width: 70%;
    max-width: 273px;
    height: 42px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    background-color: #404040;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 100% */
    border-radius: 20px;
    border-color: #404040;
    border-style: none;
}
#homeworkInput::placeholder{
    color: #FFF;
    opacity: 0.8;
}
#homeworkInput:active{
    background-color: #404040;
    border-style: none;
}

#homeworkInput:focus-visible{
    outline:none!important
}

#addHomeworkBtn{
    display: flex;
    width: 25%;
    max-width: 109px;
    height: 41px;
    flex-direction: row-reverse;
    justify-content: center;
    flex-shrink: 0;
    color: #FFFFFF;
    background-color: #303030;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 80% */
    border-radius: 20px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.20);
}
#addHomeworkBtn:active{
    background-color: #404040;
    border-style: none;
}

#homeworkList{
    width: 100%;
    max-width: 800px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #1F1F1F;
    position: relative;
    top: 16px;
}

.homeworkItem{
    left: 21px;
    top: 19px;
    width: 90%;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #403E3E;
    position: relative;
    display: flex;
}


.homeworkTitleName{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 80% */
    position: relative;
    left: 8px;
}

.homeworkNextTimeDateBG{
    display: flex;
    width: 158px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #686565;
    position: relative;
    left: 20%;
}

.NextDateText{
    display: flex;
width: 113px;
height: 24px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #DBDBDB;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 16px; /* 80% */
}