<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Clasrum</title>
    <link rel="stylesheet" href="css/inputarea.css">
    <script src="js/inputarea.js"></script>
</head>
<body onload="onloaded()">
<h1 id="homeworkTitle">Homeworks</h1>
<div id="homeworkInputArea">
    <input type="text" id="homeworkInput" placeholder="Add new homework...">
    <button id="addHomeworkBtn">Add</button>
</div>
<div id="homeworkList"><!-- the black bg -->
    <div class="homeworkItem" ><!-- the gray bg -->
        <h1 class="homeworkTitleName">1.國習P20</h1>
        <div class="homeworkNextTimeDateBG">
            <p class="NextDateText">明天第5節</p>
        </div>
    </div>
</div>
</body>